
@media screen and (max-width: 768px){
.iconimage{
    margin-top: 40px;
}
}

.services{
    text-align: center;
}



/* Testimonial Container */
.testimonials {
    background-color: #f5f5f5;
    /* padding: 60px 0; */
    text-align: center;
}

/* Hero Image */
.hero-image img {
    width: 100%;
    /* max-height: 400px; */
    object-fit: cover;
}

/* Testimonial Cards */
/* Testimonial Cards */
.testimonial-card {
    display: flex;
    flex-direction: column; /* Change flex-direction to column */
    align-items: center;
    justify-content: center;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 20px;
    transition: transform 0.2s ease-in-out;
}

.testimonial-card:hover {
    transform: translateY(-5px);
    
}

/* User Avatar */
.avatar-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    /* margin-top: -40px; */
}


/* Quote Icon */
.quote-icon {
    font-size: 24px;
    color: #ff9800;
    margin-bottom: 10px;
    margin-left: -102vh;
}

/* Review Text */
.review-text {
    font-size: 16px;
    line-height: 2;
    margin-bottom: 20px;
    /* text-align: justify; */
    padding: 0px 20px 0px 20px;
}

/* User Name */
.user-name {
    margin: 8px;
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

/* User Designation */
.user-designation {
    margin: 8px 8px;
    font-size: 14px;
    color: #777;
    margin-bottom: 20px;
}

/* Know More Button */
.know-more-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff9800;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.2s ease-in-out;
}

.know-more-button:hover {
    background-color: #f57c00;
}
