.talk-area {
    background-color: #F5F5F5;
}

.ptb-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}


.talk-image {
    position: relative;
    z-index: 1;

    will-change: transform;
    transform: perspective(300px) rotateX(0deg) rotateY(0deg);
}

/* img {
    max-width: 100%;
    height: auto;
    display: inline-block;
} */

.talk-content.margin-zero {
    margin-top: 0;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .talk-content {
        margin-top: 20px;
    }
}

.talk-content {
    position: relative;
    z-index: 1;
    margin-top: 45px;
}

@media only screen and (min-width: 992px) and (max-width: 1199px){
.talk-content h3 {
    font-size: 30px;
}
}

.talk-content h3 {
    font-size: 42px;
    margin-bottom: 15px;
    line-height: 1.4;
    position: relative;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: math;
    color: rgb(18 129 183);
}
h1{
    /* color: #df5721;
    font-size: 30px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
    color: #ff1037;
    text-shadow: 0 0 #12ec0b;
}
.talk-content h3 .overlay {
    position: absolute;
    left: 0;
    top: 0;
    background: var(--btn-gradient-color);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.talk-content span {
    font-size: var(--font-size);
    color: var(--main-color);
    font-weight: 600;
    display: inline-block;
    margin-bottom: 15px;
    font-family: var(--heading-font-family);
}

.talk-content #contactFormTwo {
    margin-top: 25px;
}

.talk-content #contactFormTwo .form-group {
    margin-bottom: 20px;
}

.talk-content #contactFormTwo .form-group .form-control {
    height: 55px;
    /* color: #9B8DAC; */
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    border: 1px solid var(--white-color);
    background-color: var(--white-color);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
}

.talk-content #contactFormTwo .form-group {
    margin-bottom: 20px;
}

.talk-content #contactFormTwo .form-group .form-control {
    height: 55px;
    color: #9B8DAC;
    -webkit-box-shadow: unset !important;
    box-shadow: unset !important;
    border: 1px solid var(--white-color);
    background-color: var(--white-color);
    -webkit-transition: var(--transition);
    transition: var(--transition);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 15px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}




