.login{
    text-align: center;
}
.ph1 {
    padding-top: 10px;
    text-decoration: solid;
    border-top: none;
    border-right: none;
    border-left: none;
   
  
  
  
  }
  .ph2 {
  /* margin-bottom: 100px; */
    padding-top: 10px;
    text-decoration: solid;
    border-top: none;
    border-right: none;
    border-left: none;
   
 
  
  
  }
  .Username{
    padding-top: 10px;
    text-align: start;
    padding-bottom: 10px;
  }
  .Password{
    text-align: start;
    padding-top: 10px;
    padding-bottom: 20px;
  }
  
  .merg{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly ;
    
  }
  @media screen and (max-width:640px) {
    .merg{
      flex-direction: column;
    }
    
  }
  .mm1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 25px;
  }
  @media screen and (max-width:640px) {
    .mm1{
      flex-direction: column;
    }
    
  }

  .signme{
    background-color: palevioletred;
    text-align: center;
    /* width:fit-content; */
    color: white;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
 
    border: 1px solid white;

  }
  .signup{
    background-color: whitesmoke;
 
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
 
    /* width:fit-content */
    
  }
  .wholepage{
    background-color: lightblue;
    width: fit-content;
    height: 400px;
  }
  .from1{
    padding: 40px;
  }

.down{
  display: inline-flex;
  padding-top: 17px;
}
.down:hover{
color:aqua

}